<table id="myresvation_table"></table>

<script type="text/javascript">
    $('#myresvation_table').datagrid({
        url: '/Teacher/GetMyReservationData',
        striped: true,
        rownumbers: true,
        fitColumns: true,
        singleSelect: true,
        fit: true,
        columns: [[
            { field: 'start', title: '开始日期', width: 100, formatter: parseDate },
            { field: 'end', title: '结束日期', width: 100, formatter: parseDate },
            { field: 'dayOfWeek', title: '日期星期', width: 100, formatter: parseDayOfWeek },
            { field: 'weekNum', title: '结束时间', width: 100 },
            { field: 'time', title: '课程时间', width: 100 },
            { field: 'append', title: '备注', width: 100 }
        ]]
    });

    function parseDate(date)
    {
        return date.split(' ')[0];
    }

    function parseDayOfWeek(value)
    {
        switch (parseInt(value))
        {
            case 0: return "周日";
            case 1: return "周一";
            case 2: return "周二";
            case 3: return "周三";
            case 4: return "周四";
            case 5: return "周五";
            case 6: return "周六";
        }
    }
</script>